{{ register_asset_bundle('app/assets/AppAsset') }}
{{   void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
	<head>
		<meta charset="{{ app.charset }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ html.encode(this.title) }}</title>
		{{ html.csrfMetaTags | raw }}
		{{   void(this.head) }}
	</head>
	<body>
		{{   void(this.beginBody()) }}
		{{ nav_bar_begin({
			'brandLabel': 'Short link generator',
		}) }}
		{{ nav_bar_end() }}
		<main role="main" class="container">
			<div class="starter-template">
				{{ this.blocks['content'] | raw }}
			</div>
		</main>
		{{   void(this.endBody()) }}
	</body>
</html>
{{ this.endPage() }}