{{ use('yii/widgets/ActiveForm') }}

{{ void(this.beginBlock('content')) }}
	<div class="js-form-response"></div>
	<form class="form-inline" action="{{ url('links/create') }}" method="post">
		<div class="form-group">
			<input  type="text" class="form-control form-control-lg" placeholder="URL" name="url">
		</div>
		<button class="btn btn-success btn-md js-get-short-url" type="submit">Go</button>
	</form>
{{ void(this.endBlock()) }}